.products {
  width: 90%;
  margin: 2rem auto;
  animation: products-appear 1s ease-out forwards;
}

.ProductsLoading {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductsError {
  text-align: center;
  color: red;
}

.NoProducts {
    text-align: center;
}

.products ul {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: 100vh;
}
.products ul li {
    flex: 1 0 25%;
}

@keyframes products-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.center {
    text-align: center;
    text-transform: capitalize;
}

.link {
    color: #cd958d;
    text-decoration: none;
    font-size: 1rem;
}

.active {
    color:  #000000;
    text-decoration: none;
    font-size: 1rem;
}

.link:hover{
    color:  #000000;
    text-decoration: underline;
}
