.product {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    font-family: "Segoe UI";
}

.product h3 {
    margin: 0 0 0.25rem 0;
    text-transform: capitalize;
}

.image {
    position: relative;
    width: 100%;
    max-height: calc(100vh / 3);
    overflow: hidden;
}

@media only screen and (max-width: 990px) {
    .image {
        max-height: calc(100vh - 80px);
        width: 100%;
        object-fit: contain;
    }
}
