# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/coverage
/documentation
./test-report.xml

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.scannerwork
test-report.xml
proxy.conf.json
**/*/lcov.info
/pact/logs

# e2e
/e2e/*.js
/e2e/*.map
/**/*/screenshots/**/*
/apps-e2e/*.js
/apps-e2e/*.map
/apps-e2e/**/*/screenshots/**/*

# System Files
.DS_Store
Thumbs.db
.hyperlayout

yarn-error\.log
/bash.exe.stackdump

/docker-compose.yml
