/*!* Style inputs *!*/
textarea {
    width: 100%;
    min-height: 100px;
}

/* Create two columns that float next to eachother */
.col {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

@media only screen and (max-width: 900px) {
    .col {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .col {
        padding-left: 20px;
        padding-right: 20px;
    }
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.row {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.center {
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
