.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #fff;
    color: #000000;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}

.badge {
    transform: translateY(10px);
    background-color: #333;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    margin-left: -0.6149rem;
    text-align: center;
    width: 20px;
}



.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
