.link {
  display: block;
  color: #0000008C;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  padding-right: 75px;
  padding-left: 75px;
  font-size: 1.5rem;

  &:hover {
    color: #0000008C;
    text-decoration: none;
  }
}

.dropdownItem {
  color: #0000008C !important;
  text-decoration: none !important;
  &:hover {
    color: #0000008C !important;
    text-decoration: none !important;
    background-color: transparent !important;
  }
}

.cart {
  visibility: hidden;
  width: 0px;
}

.brand {
  visibility: hidden;
  width: 0px;
}

.center{
  margin:auto!important;
}

@media only screen and (max-width: 600px) {
  .cart {
    visibility: visible;
  }
  .container {
    justify-content: start!important;
  }
  .brand {
    color: white!important;
    font-weight:bold;
    font-size:24px!important;
    visibility: visible;
    margin-left: 0.5em !important;
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar-toggle {
    float: left !important;
    margin-left: 0.5em !important;
  }
  .center{
    margin:0!important;
  }
  .navbar{
    background-color:#cc8e84;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display:inherit!important;
  }

  .dropdownItem{
    color:white;
  }
  .link {
    color:white;
  }
}
