.header {
  width: 100%;
  //height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;
  transition: all 0.375s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: Georgia Italic;
}

.navbar {
  background-color: #fff;
}

.logo {
  font-size: 2rem;
  color: #000000;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  float: left;


  &:hover > a {
    background-position: 0 100%;
    background-size: 100% 1.375px;

    &:before {
      opacity: 1;
      transform: translateX(-50%);
    }
  }
}

.nav a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.25px;
  padding: #{.5 * 1} #{1};
  text-decoration: none;
  color: #000000;
}
