.link {
  display: block;
  color: black;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  padding-right: 75px;
  padding-left: 75px;
  font-size: 1.5rem;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.dropdownItem {
  color: #212529 !important;
  text-decoration: none !important;
  &:hover {
    color: #212529 !important;
    text-decoration: none !important;
    background-color: transparent !important;
  }
}
