.products {
    width: 90%;
    margin: 2rem auto;
    animation: products-appear 1s ease-out forwards;
    font-size: 1.5rem;
}

.detail {
    padding-top:48px;
    padding-left:48px;
}


.price {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.color {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.link {
    color: #cd958d;
    text-decoration: none;
    font-size: 1rem;
}

.active {
    color: #0000008C;
    text-decoration: none;
    font-size: 1rem;
    padding-top: 8px;
}

.link:hover{
     color: #0000008C;
     text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .detail {
        padding-left:20px;
        padding-right:20px;
    }
    .products {
        margin: 0em auto;
    }
}
@media only screen and (max-width: 600px) {
    .detail {
        padding-left:20px;
        padding-right:20px;
    }
    .products {
        margin: 0em auto;
    }
}
