.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #cc8e84;
  border: 1px solid #cc8e84;
  color: #ffffff;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #CC8E80B2;
  border-color: #CC8E80B2;
}
