.product {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    /*border-bottom: 1px solid #ccc;*/
    font-family: "Segoe UI";
}

.product h3 {
    margin: 0 0 0.25rem 0;
}

.description {
    font-size: 16px;
    font-style: italic;
    color: #808080;
}

.price {
    font-weight: 900;
    font-size: 16px;
}

.image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
