@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI";
  margin: 0;
  background-color: #fff;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: #000000;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #000000;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: #000000;
  border: none;
  //background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: #000000;
  color: white;
}

a#basic-nav-dropdown{
  color: #0000008C!important;
  text-decoration: none!important;
  background-color: transparent!important;
  font-size: 1.5rem;
  padding-right: 75px;
  padding-left: 75px;
  padding-bottom: 0px;
}

@media only screen and (max-width: 900px) {
  a#basic-nav-dropdown{
    color: white!important;
  }
  div.image-gallery-thumbnails-wrapper{
    visibility: hidden;
    height: 0px;
  }
}

.dropdown-item.active, .dropdown-item:active {
  text-decoration: none;
  background-color: transparent!important;
}
.breadcrumb-item+.breadcrumb-item::before{content:var(--bs-breadcrumb-divider,">") !important ;}

.quantity-display {
  padding: 0rem!important;
  width:60%!important;
}

li.breadcrumb-item{
  text-transform: capitalize;
}
